body {
    background-image: url(../img/dark.jpeg);
  }
  
  .logo {
    font-family: "Playfair Display", serif;
  }
  
  .logo a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s ease;
  }
  
  .logo a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }